{% extends 'apsoLayout.html' %}
{% block nav %}
  <li><a href="{{prefix}}">Accueil</a></li>
  <li class="divider-vertical"></li>
  <li><a href="{{prefix}}bureau">Bureau</a></li>
  <li class="active"><a href="{{prefix}}libelles">Libelles</a></li>
{% endblock %}


{% block content %}
<div class="row-fluid">
  <div class="span8">
    <table class="table table-hover">
      <thead>
        <tr><td>Titre</td><td>Votre choix</td><td>Echeance</td><td>Resultat</td></tr>
      </thead>
      <tbody>
        <tr><td><strong>suspension des activités d'hiver</strong><br/>
          Laisser le temps au repos et à la régénération
        </td><td><form method="post">
        <label class="radio">
<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
Oui
</label>
<label class="radio">
<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
Non
</label></form></td><td>12/12/2012</td><td><table><tr><td>oui</td><td>non</td></tr><tr><td>5</td><td>3</td></tr></table></td></tr>
        <tr><td><strong>planifications depenses 2013</strong><br/>Utiliser le budget de l'association pour faire campagne en faveur de la démocratie directe</td><td></td><td>31/12/2012</td><td></td></tr>
        <tr><td><strong>positionnement pro-hadopi</strong><br/>Défendre l'idée d'une répression</td><td></td><td>permanent</td><td></td></tr>
      </tbody>
    </table>
    
  </div>
  <div class="span1">
    <h1>V<br/>O<br/>T<br/>E<br/>Z</h1>
  </div>
  <div class="span3">
    <h3>Liste des libellés</h3>
    <h4>En cours</h4>
    <table class="table table-condensed table-hover">
      <thead>
        <tr><td>Titre</td><td>status</td></tr>
      </thead>
      <tbody>
        <tr class="success"><td>suspension des activités d'hiver</td><td>accepté</td></tr>
        <tr class="info"><td>planifications depenses 2013</td><td>a discuter</td></tr>
        <tr class="error"><td>positionnement pro-hadopi</td><td>rejeté</td></tr>
      </tbody>
    </table>
    <h4>Echu</h4>
    <table class="table table-condensed table-hover">
      <thead>
        <tr><td>Titre</td><td>status</td></tr>
      </thead>
      <tbody>
        <tr class="success"><td>suspension des activités d'hiver</td><td>accepté</td></tr>
        <tr class="info"><td>planifications depenses 2013</td><td>autre</td></tr>
        <tr class="error"><td>positionnement pro-hadopi</td><td>rejeté</td></tr>
      </tbody>
    </table>
  </div>
</div><!--/row-->
{% endblock %}