{% extends 'apsoLayout.html' %}
{% block title %}
    APSO - Administration
  {% endblock %}
  
  
{% block head %}
  <script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect(document.URL);
  socket.on("Authorized", function(isauthorized) {
    if (isauthorized) {
      socket.emit("getUsers");
    }
  });
  socket.on("UsersList", function(data) {
    console.log(data);
  })  
</script>
{% endblock %}
{% block nav %}
  <li><a href="{{prefix}}">Accueil</a></li>
  <li class="divider-vertical"></li>
  <li><a href="{{prefix}}bureau">Bureau</a></li>
  <li><a href="{{prefix}}libelles">Libelles</a></li>
{% endblock %}


{% block content %}
<div class="row-fluid">
  <div class="span9">
  <div class="hero-unit">
    <div class="row-fluid">
      <div class="span11">
    <h2>Administration</h2><p>Utilisateurs enregistrés dans le système :</p>
      <table class="table table-hover">
        <thead>
          <tr><th>Nom utilisateur</th><th>Membre</th></tr>
        </thead>
        <tbody>
          </tbody>
      </table>
     
    </div>

  
  <div class="span3">
    <h3>Admin divers</h3>
  </div>
  
</div><!--/row-->
{% endblock %}