{% extends 'apsoLayout.html' %}
{% block nav %}
  <li class="active"><a href="{{prefix}}">Accueil</a></li>
  <li class="divider-vertical"></li>
  <li><a href="{{prefix}}bureau">Bureau</a></li>
  <li><a href="{{prefix}}libelles">Libelles</a></li>
{% endblock %}


{% block content %}
      <div class="row-fluid">

        <div class="span12">

          <div class="hero-unit">
            <h1>Bienvenue sur l'APSO</h1>
            <p>L'assemblée Permanente Source Ouverte.
              
            </p>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <h2>Composition du bureau</h2>
              <p>Président : m1 (1 voix)</p>
              <p>Secrétaire : m3 (1 voix)</p>
              <p>Trésorier : m5 (1 voix)</p>
              <p>Vice-Président : m7 (1 voix)</p>
              <p><a class="btn" href="#">Liste des votes</a></p>
              <a class="btn" href="{{prefix}}bureau">Voir et voter le bureau</a>
            </div><!--/span-->
            <div class="span4">
              <h2>Les derniers votes de libelles</h2>
              <ul>
                <li><em>par <stong>m2</stong> le --/--/----</em><br/>
                  <a href="#">Titre Libelle</a> <br/>
                  expression
                </li>
                <li><em>par <stong>m2</stong> le --/--/----</em><br/>
                  <a href="#">Titre Libelle</a> <br/>
                  expression
                </li>
                <li><em>par <stong>m2</stong> le --/--/----</em><br/>
                  <a href="#">Titre Libelle</a> <br/>
                  expression
                </li>
                
              </ul>
            </div>
              <div class="span4">
            {% if user.email == "anonymous" %}
              <h2>Se connecter</h2>
              <form method="POST" action="/login">
                <label class="control-label" for="emailInput">Adresse mail</label>
                <input type="text" name="email" id="emailInput">
                <label class="control-label" for="password">Mot de passe</label>
                <input type="password" name="password" id="passwordInput">
                <input type="submit" class="btn" value="Se connecter">
                </form>
                <h2>S'enregistrer</h2>
              <form method="POST" action="/register">
                <label class="control-label" for="emailInput">Adresse mail</label>
                <input type="text" name="email" id="emailInput">
                <label class="control-label" for="pseudoInput">Pseudo</label>
                <input type="text" name="pseudo" id="pseudoInput">
                <label class="control-label" for="password">Mot de passe</label>
                <input type="password" name="password" id="passwordInput">
                <input type="hidden" name="redirect" value="{{prefix}}registered">
                <input type="submit" class="btn" value="S'enregistrer">
              </form>
            {% else %}
              <h2>Mon compte</h2>
                <input type="checkbox"> S'exclure de la liste de choix des votes du bureau<br/>
                <form>
                  <label class="control-label" for="password">Mot de passe</label>
                  <input type="password" name="password" id="passwordInput">
                  <label class="control-label" for="password">Mot de passe</label>
                  <input type="password" name="password" id="passwordInput">
                  <input type="submit" class="btn" value="Changer de mot de passe">
                </form>
            {% endif %}
              </div>

            
          </div><!--/row-->
          </div><!--/span-->
      </div><!--/row-->
{% endblock %}