{% extends 'apsoLayout.html' %}
{% block nav %}
  <li><a href="{{prefix}}">Accueil</a></li>
  <li class="divider-vertical"></li>
  <li><a href="{{prefix}}bureau">Bureau</a></li>
  <li><a href="{{prefix}}libelles">Libelles</a></li>
{% endblock %}


{% block content %}
      <div class="row-fluid">

        <div class="span12">

          <div class="hero-unit">
            <h1>Validation de votre compte</h1>
            <p>Votre compte est validé. Connectez-vous et demandez le status de membre pour participer à l'assemblée
            </p>
            
          </div>

          </div><!--/span-->
      </div><!--/row-->
{% endblock %}